div{
list-style: none;
}

.logo{
    font-size: 32px;
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: block;
}
.logo:hover{
    color: crimson;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: black;
}

.nav{
    display: flex;
    text-align: center;  
    width: 1030px;
    margin-right:0px;
    margin-left:300px;
    margin-top: 0px;
    background-color: rgb(22, 25, 25);
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a:hover{
      background-color: crimson;
      color:black;
      
  }
  body{
    color: rgb(0, 0, 0);
    display: block;
    height: 91px;
    margin:0%;
    width: 100%;
  }
  .sub-head{
      color: #d9d1d1;
      text-align: center;
      margin-top: 530px;
  }

